<h2>Add new contact details</h2>

<form id="form_id" action="/" method="post">
  <label for="last_name">Enter Last Name</label>
  <input type="text" name="last_name" id="last_name">

  <label for="first_name">Enter First Name</label>
  <input type="text" name="first_name" id="first_name">
  <button type="submit">Add Contact</button>
</form>

<form id="form_id" action="/contact_info" method="post">
  <label for="area_code">Enter Area Code</label>
  <input type="number" name="area_code" id="area_code">

  <label for="phone_number">Enter Phone Number</label>
  <input type="number" name="first_name" id="first_name">
  <button type="submit">Add Number</button>
</form>
